<%= form_for(@ticket_type) do |f| %>
  <% if @ticket_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket_type.errors.count, "error") %> prohibited this ticket_type from being saved:</h2>

      <ul>
      <% @ticket_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ticket_set_id %><br />
    <%= f.select(:ticket_set_id, TicketSet.order(:name).all.collect {|item| [item.name, item.id]}) %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :concession_price %><br />
    <%= f.text_field :concession_price %>
  </div>
  <div class="field">
    <%= f.label :target, "Target Number" %><br />
    <%= f.text_field :target %>
  </div>
  <div class="field">
    <%= f.label :available_from %><br />
    <%= f.text_field :available_from %>
  </div>
  <div class="field">
    <%= f.label :available_to %><br />
    <%= f.text_field :available_to %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
