<h1>Listing ticket_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Ticket set</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ticket_types.each do |ticket_type| %>
  <tr>
    <td><%= ticket_type.name %></td>
    <td><%= ticket_type.price %></td>
    <td><%= ticket_type.ticket_set_id %></td>
    <td><%= link_to 'Show', ticket_type %></td>
    <td><%= link_to 'Edit', edit_ticket_type_path(ticket_type) %></td>
    <td><% if ticket_type.deletable? %><%= link_to 'Destroy', ticket_type, :confirm => 'Are you sure?', :method => :delete %><% end %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket type', new_ticket_type_path %>
