<h1>Listing Memberships</h1>

<%- @ticket_sets.each do |set| %>
<%= link_to set.name, set %> Memberships<br/>
<%- if set.requires_extended_details %>
Requires Extended Details<br/>
<%- end %>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Concession</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% set.types.order(:price).each do |ticket_type| %>
  <tr>
    <td><%= ticket_type.name %></td>
    <td><%= render_money ticket_type.price %></td>
    <td><%= render_money ticket_type.concession_price %></td>
    <td><%= link_to 'Show', ticket_type %></td>
    <td><%= link_to 'Edit', edit_ticket_type_path(ticket_type) %></td>
    <td><% if ticket_type.deletable? %><%= link_to 'Destroy', ticket_type, :confirm => 'Are you sure?', :method => :delete %><% end %></td>
  </tr>
<% end %>
</table>

<br />

<%- end %>

<%= link_to 'New Membership type', new_ticket_type_path %>
