<div class="title"><%= @ticket_type.name %></div>
<p class="olive"><%= render_money @ticket_type.price %><% if @ticket_type.concession_price != nil %> / <%= render_money @ticket_type.concession_price %><% end %></p>

<p>
  <b>Ticket set:</b>
  <%= link_to @ticket_type.set.name, @ticket_type.set %><br/>
  <%- if @ticket_type.requires_extended_details %>
  Requires Extended Details
  <%- end %>
</p>

<p>
	Available <% -%>
	<% if @ticket_type.available_from != nil -%>
	from <%= render_time(@ticket_type.available_from) -%>
	<% end -%>
	<% if @ticket_type.available_to != nil -%>
	to <%= render_time(@ticket_type.available_to) %>
	<% end -%>
</p>

<p>
	<b>Target:</b> <%= @ticket_type.target %>
	<b>Remaining: </b> <%= @ticket_type.target - @ticket_type.orders.count %>
</p>

<p>
	<b>Unpaid Orders - <%= @ticket_type.orders.unpaid.count %> - <%= render_money(@ticket_type.orders.unpaid.count * @ticket_type.price) %></b>
	<% order = 1 %>
	<blockquote>
	<% @ticket_type.orders.unpaid.each do |uot| %>
	<%= order %>. <%= uot.user.name %><br/>
	<% order += 1%>
	<% end %>
	</blockquote>
</p>

<p>
	<b>Paid Orders - <%= @ticket_type.orders.paid.count %> - <%= render_money(@ticket_type.orders.paid.count * @ticket_type.price) %></b>
	<% order = 1 %>
	<blockquote>
	<% @ticket_type.orders.paid.each do |uot| %>
	<%= order %>. <%= uot.user.name %><br/>
	<% order += 1%>
	<% end %>
	</blockquote>
</p>

<%= link_to 'Edit', edit_ticket_type_path(@ticket_type) %> |
<%= link_to 'Back', ticket_types_path %>
