<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ticket_type.name %>
</p>

<p>
  <b>Price:</b>
  <%= @ticket_type.price %>
</p>

<p>
  <b>Ticket set:</b>
  <%= @ticket_type.ticket_set_id %>
</p>

<p>
	<b>Available From:</b> <%= render_time(@ticket_type.available_from) %><br/>
	<b>Available To:</b> <%= render_time(@ticket_type.available_to) %>
	<% if @ticket_type.available? %>
	Available Now!
	<% end %>
</p>

<p>
	<b>Target:</b> <%= @ticket_type.target %>
	<b>Remaining: </b> <%= @ticket_type.target - @ticket_type.orders.count %>
</p>

<p>
	<b>Unpaid Orders - <%= @ticket_type.orders.unpaid.count %> - <%= @ticket_type.orders.unpaid.count * @ticket_type.price %></b>
	<% order = 1 %>
	<blockquote>
	<% @ticket_type.orders.unpaid.each do |uot| %>
	<%= order %>. <%= uot.user.name %><br/>
	<% order += 1%>
	<% end %>
	</blockquote>
</p>

<p>
	<b>Paid Orders - <%= @ticket_type.orders.paid.count %> - <%= @ticket_type.orders.paid.count * @ticket_type.price %></b>
	<% order = 1 %>
	<blockquote>
	<% @ticket_type.orders.paid.each do |uot| %>
	<%= order %>. <%= uot.user.name %><br/>
	<% order += 1%>
	<% end %>
	</blockquote>
</p>

<p>
	<b>Orders (old system)</b>
	<% order = 1 %>
	<blockquote>
	<% @ticket_type.launch_member_ticket_types.each do |lmtt| %>
	<%= order %>. <%= lmtt.launch_member.name %><br/>
	<% order += 1%>
	<% end %>
	</blockquote>
</p>

<%= link_to 'Edit', edit_ticket_type_path(@ticket_type) %> |
<%= link_to 'Back', ticket_types_path %>
