- add_body_classes("user-portal-page")
.intro
  .container
    .sign-up.user-portal
      %h2 Sign up
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .form-group
          = f.label :username
          = f.text_field :username
        .form-group
          = f.label :email
          = f.email_field :email
        .form-group
          = f.label :password
          = f.password_field :password
        .form-group  
          = f.label :password_confirmation
          = f.password_field :password_confirmation
        .form-actions
          = f.submit "Sign up", class: "btn"
      = render "devise/shared/links"