<!DOCTYPE html>
<html>
<head>
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
Receipt: <%= @payment.receipt_number %><br/>
Issued: <%= @payment.created_at.strftime("%d/%m/%Y %H:%M %Z") %><br/>

<% @order = @payment.user_order %>

<%= render :partial => "/user_orders/listing" %>

Paid Via: <%= @payment.payment_type.name %><br/>
Total Paid: <%= @payment.amount %>
</body>