<!DOCTYPE html>
<html>
<head>
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
Receipt: <%= @payment.receipt_number %><br/>
Issued: <%= @payment.created_at.strftime("%d/%m/%Y %H:%M %Z") %><br/>
<%- if @payment.operator != nil %>
Operator: <%= @payment.operator.username %>
<%- end %>

<% @order = @payment.user_order %>

<%= render :partial => "/user_orders/listing" %>

Paid Via: <%= @payment.payment_type.name %><br/>
Total Paid: <%= @payment.amount %>

<%- if @order.tickets.count > 0 and (@order.user.member_detail == nil or !@order.user.member_detail.disclaimer_signed) %>
<br/>
<%= render :partial => "/member_details/disclaimer"%>
<%- elsif @order.tickets.count > 0  %>
You have electronically agreed to the disclaimer available at: <%= link_to "http://wasff.sf.org.au/convention_rules", "http://wasff.sf.org.au/convention_rules "%><br/>
<%- end %></body>