Dear <% if @detail != nil %><%= @detail.name_first%> <%= @detail.name_last %><% else %><%= @user.username %><% end %>,

<blockquote>
At Swancon you pre-ordered <% if @shirtorders.count > 1 %>some shirts<% else %>a shirt <% end %> from us, we have <% if @shirtorders.count > 1 %>them<% else %>it<% end %> recorded as the following:
<blockquote>
<% @shirtorders.includes(:user_order_merchandise_options).all.each do |uom| %>
<%= uom.merchandise_type.name %> <% uom.options.all.each do |option| %><%= option.set.name %>: <%= option.name %> <% end %><br/>
<% end %>
</blockquote>
<p>As there were some questions about shirt sizing at Swancon, we'd like to confirm that we have gotten the correct sizing for you so you are correctly attired for the apocalypse.</p>

<p>The measurements of the various shirt options are as follows:</p>

Sizes
<blockquote>
Ladies 6 - 40CM Half Chest<br/>
Ladies 8 - 43CM Half Chest<br/>
Ladies 10 - 45CM Half Chest<br/>
Ladies 12 - 47CM Half Chest<br/>
Ladies 14 - 49CM Half Chest<br/>
Ladies 16 - 51CM Half Chest<br/>
Ladies 18 - 53CM Half Chest<br/>
Ladies 19 - 56CM Half Chest</br>
Small (Mens) - 53.5CM Half Chest, 70CM CB Length<br/>
Medium (Mens) - 56CM Half Chest, 72CM CB Length<br/>
Large (Mens) - 58.5CM Half Chest, 74CM CB Length<br/>
XL (Mens) - 61CM Half Chest, 76CM CB Length<br/>
2XL (Mens) - 63.5CM Half Chest, 78CM CB Length<br/>
3XL (Mens) - 67CM Half Chest, 80CM CB Length<br/>
5XL (Mens) - 76CM Half Chest<br/>
</blockquote>
<p>Please reply to this email, including this message indicating if you wish to change or confirm your t-shirt sizing so we can process your order as soon as possible</p>
<p>If we don't hear from you within 7 days, we will assume this order is correct, and process it as it stands</p>
<p>If you have any questions, please don't hesitate to reply to this email.</p>
</blockquote>
Best Regards,<br/>
<br/>
Doom-Con 2012