<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @merchandise_option.name %>
</p>

<p>
  <b>Merchandise type:</b>
  <%= @merchandise_option.merchandise_type_id %>
</p>


<%= link_to 'Edit', edit_merchandise_option_path(@merchandise_option) %> |
<%= link_to 'Back', merchandise_options_path %>
