<%= form_for(@member_detail) do |f| %>
  <% if @member_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member_detail.errors.count, "error") %> prohibited this member_detail from being saved:</h2>

      <ul>
      <% @member_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.hidden_field :user_id %>

  <div class="field">
    <%= f.label :name_first %><br />
    <%= f.text_field :name_first, :autocorrect => "off", :autocapitalize=> "off" %>
  </div>
  <div class="field">
    <%= f.label :name_last %><br />
    <%= f.text_field :name_last, :autocorrect => "off", :autocapitalize=> "off" %>
  </div>
  <div class="field">
    <%= f.label :name_badge %><br />
    <%= f.text_field :name_badge, :autocorrect => "off", :autocapitalize=> "off" %>
  </div>
  <div class="field">
    <%= f.label :address_1, "Address Line 1" %><br />
    <%= f.text_field :address_1, :autocorrect => "off", :autocapitalize=> "off" %>
  </div>
  <div class="field">
    <%= f.label :address_1, "Address Line 2" %><br />
    <%= f.text_field :address_2, :autocorrect => "off", :autocapitalize=> "off" %>
  </div>
  <div class="field">
		<%= f.label :address_3, "City/Suburb" %><br />
    <%= f.text_field :address_3, :autocorrect => "off", :autocapitalize=> "off" %>
  </div>
  <div class="field">
    <%= f.label :address_postcode %><br />
    <%= f.text_field :address_postcode, :autocorrect => "off", :autocapitalize=> "off" %>
  </div>
  <div class="field">
    <%= f.label :address_state %><br />
    <%= f.text_field :address_state, :autocorrect => "off", :autocapitalize=> "off" %>
  </div>
  <div class="field">
    <%= f.label :address_country %><br />
    <%= f.text_field :address_country, :autocorrect => "off", :autocapitalize=> "off" %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, :autocorrect => "off", :autocapitalize=> "off" %>
  </div>
  <div class="field">
    <%= f.label :email_optin %><br />
    <%= f.check_box :email_optin %>
  </div>
<%= render :partial => "/member_details/disclaimer"%>
<% if @member_detail.disclaimer_signed -%>
I HAVE AGREED TO THE ABOVE<br/>
<% else -%>
I AGREE TO THE ABOVE: <%= f.check_box :disclaimer_signed %>
<% end -%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  <% if @member_detail.disclaimer_signed and @member_detail.user == current_user %>
  <%= button_to "Buy Memberships", controller: "store", action: "index" %>
  <% end %>
