<div class="title">Member Details</div>

<table width="100%" border="1">
  <tr>
    <th>Name</th>
    <th>Name badge</th>
    <th>Phone</th>
		<th>Email</th>
    <th>Emailable</th>
		<th>Disclaimer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @member_details.each do |member_detail| %>
  <tr>
    <td><%= member_detail.name_real %></td>
    <td><%= member_detail.name_badge %></td>
    <td><%= member_detail.phone %></td>
		<td><%= member_detail.user.email %></td>
    <td><%= member_detail.email_optin %></td>
    <td><%= member_detail.disclaimer_signed %></td>
    <td><%= link_to 'Show', member_detail %></td>
    <td><%= link_to 'Edit', edit_member_detail_path(member_detail) %></td>
    <td><%= link_to 'Destroy', member_detail, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member detail', new_member_detail_path %>
