<% if @order.payment != nil %>
Invoice: <%= @order.invoice_number %> Paid in Receipt: <%= link_to @order.payment.receipt_number, @order.payment %><br/>
Issued: <%= render_time(@order.created_at) %><br/>
Paid: <%= render_time(@order.payment.created_at) %><br/>
<%- if @order.operator != nil %>
Ordered By: <%= @order.operator.username %><br/>
<%- end %>
<%- if @order.payment.operator != nil %>
Marked Paid By: <%= @order.payment.operator.username %><br/>
<%- end %>
<% else -%>
Invoice <%= @order.invoice_number %><br/>
Issued: <%= render_time(@order.created_at) %><br/>
<%- if @order.operator != nil %>
Ordered By: <%= @order.operator.username %><br/>
<%- end %>
<% end -%>
Ordered For: <%= link_to(@order.user.order_name, users_admin_path(@order.user)) %><br/>
Last Updated: <%= render_time(@order.updated_at) %><br/>
<br/>

<%= render :partial => "listing" %>

<% if @order.payment != nil %>
<div class="text-right">Total Paid: <%= render_money(@order.payment.amount) %></div>
Paid Via: <%= @order.payment.payment_type.name %><br/>
<% else %>
<div class="text-right">Total: <%= render_money(@order.total) %></div>
<br/>

<%= render :partial => "#{@order.payment_type.name.downcase.gsub(" ", "_")}_details" %>

<% end %>

<%- if @order.tickets.count > 0 and (@order.user.member_detail == nil or !@order.user.member_detail.disclaimer_signed) %>
<br/>
<%= render :partial => "/member_details/disclaimer"%>
<%- elsif @order.tickets.count > 0  %>
You have electronically agreed to the disclaimer available at: <%= link_to "http://wasff.sf.org.au/convention_rules", "http://wasff.sf.org.au/convention_rules "%><br/>
<%- end %>

<div class="noprint">
<% if current_user.role_symbols.include?(:admin) %>
Administration<br/>
<% if @order.payment == nil%>
Mark Paid:
<blockquote>
<%= form_for(@order, :url => mark_paid_order_url, :method => :put) do |f| %>
Amount Paid: <%= f.text_field :amount, :value => sprintf("%.2f", @order.total) %><br/>
Verification String: <%= f.text_field :verification_string, :value => "" %><br/>
<%= f.submit("Mark Paid") -%>
<% end %>
</blockquote>
<% else %>
Payment: <%= link_to @order.payment.reciept_number, @order.payment %> <%= button_to "Void", void_payment_url(@order.payment) %><br/>
<% end %>
<% end %>

<% permitted_to? :remail do %>
<%= link_to "Send Email to #{@order.user.order_name} again", remail_order_path(@order), :method => :post, :class =>"noprint" %> | 
<% end %>

<%= link_to 'Back', orders_path, :class => "noprint" %>
</div>