<% content_for :header do %>
	<%= javascript_include_tag "admin" %>
	<%= stylesheet_link_tag "admin" %>
<% end %>
<ul class="link">
	<li id="details">Gatherer of Details</li>
	<li><%= link_to "Front Desk", action: "select", controller: "seller" %></li>
	<li><%= link_to "Ticket Administration", ticket_types_path %></li>
	<li><%= link_to "Ticket Set Administration", ticket_sets_path %></li>
	<li><%= link_to "Orders Administration", orders_path(all: true) %></li>
	<li><%= link_to "Payments Administration", payments_path %></li>
</ul>

<div id="details" class="hideable">
<h1>Search Members</h1>
Name: <input type="text" name="gather_member_search"/> <button id="member_search">Search</button><br/>
<table width="100%" id="gather_member_search_results">
<tr><th>Name</th><th>Username</th><th>Email</th><th>Actions</th></tr>
</table>
<h1 id="member_create">Create New Member</h1>
<button id="member_create">Create New Member</button>
<div id="member_create_form" class="hideable">
<%= hidden_field_tag "user[id]", 0 %>
Username: <%= text_field_tag "user[username]", "", autocorrect: "off", autocapitalize: "off" %> <span name="user[username]_msg"></span><br/>
Email: <%= text_field_tag "user[email]", "", autocorrect: "off", autocapitalize: "off" %> <span name="user[email]_msg"/></span><br/>
Name: <%= text_field_tag "user[member_detail_attributes[name_first]]", "", autocorrect: "off", autocapitalize: "off" %> <%= text_field_tag "user[member_detail_attributes[name_last]]", "", autocorrect: "off", autocapitalize: "off" %> <span name="user[member_detail_attributes[name_first]]_msg"/></span><br/>
Badge Name / Nickname: <%= text_field_tag "user[member_detail_attributes[name_badge]]", "", autocorrect: "off", autocapitalize: "off" %><br/>
Address: <%= text_field_tag "user[member_detail_attributes[address_1]]", "", autocorrect: "off", autocapitalize: "off" %> <span name="user[member_detail_attributes[address_1]]_msg"/></span><br/>
<%= text_field_tag "user[member_detail_attributes[address_2]]", "", autocorrect: "off", autocapitalize: "off" %> <span name="user[email]_msg"/></span><br/>
Suburb / City: <%= text_field_tag "user[member_detail_attributes[address_3]]", "", autocorrect: "off", autocapitalize: "off" %> <span name="user[member_detail_attributes[address_3]]_msg"/></span><br/>
Postcode: <%= text_field_tag "user[member_detail_attributes[address_postcode]]", "", autocorrect: "off", autocapitalize: "off" %> <span name="user[member_detail_attributes[address_postcode]]_msg"/></span><br/>
State: <%= text_field_tag "user[member_detail_attributes[address_state]]", "", autocorrect: "off", autocapitalize: "off" %> <span name="user[member_detail_attributes[address_state]]_msg"/></span><br/>
Country: <%= text_field_tag "user[member_detail_attributes[address_country]]", "Australia", autocorrect: "off", autocapitalize: "off" %> <span name="user[member_detail_attributes[address_country]]_msg"/></span><br/>
Phone: <%= text_field_tag "user[member_detail_attributes[phone]]", "", autocorrect: "off", autocapitalize: "off" %><br/>
Can we send you emails?: <%= check_box_tag "user[member_detail_attributes[email_optin]]", "", autocorrect: "off", autocapitalize: "off" %><br/>
<%= render partial: "/member_details/disclaimer" %>
I Agree to the Above: <%= check_box_tag "user[member_detail_attributes[disclaimer_signed]]" %><br/>
<button id="member_create_form_submit" disabled="true">Create/Update Member</button>
</div>
<div id="member_created_message"></div>
</div>
<div id="front-desk" class="hideable">
<h1>Search for Existing Member</h1>
Name: <input type="text" name="member_search"/><br/>
<button id="member_create">Create New Member</button>
</div>