= content_for :header do
	= javascript_include_tag "admin"
	= stylesheet_link_tag "admin"

- if SiteSettings.con_mode
	%h1 CON MODE IS ENABLED

%ul{class: "link"}
	%li= link_to "Admin Store / Front Desk", action: "adminapp"
	%li= link_to "User/Member Administration", users_admin_index_url
	%li{id: "content_admin"} Content Administration
	%li{id: "treas_admin"} Treasury Administration
	%li{id: "store_admin"} Store Administration

%div{id: "store_admin", class: "hideable"}
	%h1 Store Admin
	%ul
		%li= link_to "Membership Administration", ticket_types_path
		%li= link_to "Membership Set Administration", ticket_sets_path 
		%li= link_to "Membership List", tickets_all_path 
		%li= link_to "Merchandise Administration", merchandise_types_path
		%li= link_to "Merchandise Set Administration", merchandise_sets_path
		%li= link_to "Merchandise Option Set Administration", merchandise_option_sets_path
		%li= link_to "Advertising Tags", advertising_tags_path
		- if user_can_visit? :index, :set_con_mode
			- if SiteSettings.con_mode
				%li= link_to "Disable Con Mode", set_con_mode_path(enable: false)
			- else
				%li= link_to "Enable Con Mode", set_con_mode_path(enable: true)

%div{id: "treas_admin", class: "hideable"}
	%h1 Treasury Admin
	%ul
		%li= link_to "Orders Administration", orders_path(all: true)
		%li= link_to "Payments Administration", payments_path

%div{id: "content_admin", class: "hideable"}
	%h1 Content Admin
	%ul
		%li= link_to "Content Pages", content_pages_path if user_can?("see", ContentPage) 
		%li= link_to "Content Blocks", content_blocks_path if user_can?("see", ContentBlock) 
		%li= link_to "Content Tags", content_tags_path if user_can?("see", ContentTag)
		%li= link_to "Content Images", content_images_path if user_can?("see", ContentImage) 
		%li= link_to "Content Files", content_files_path if user_can?("see", ContentFile)
		%li= link_to "Events", events_path if user_can?("edit", Event)

%div{id: "member_created_message"}
