= content_for :header do
	= javascript_include_tag "admin"
	= stylesheet_link_tag "admin"

- if SiteSettings.con_mode
	%h1 CON MODE IS ENABLED

%ul{class: "link"}
	%li{id: "details"} Gatherer of Details
	%li= link_to "Front Desk", controller: "seller", action: "select"
	%li{id: "store_admin"} Store Administration
	%li{id: "treas_admin"} Treasury Administration
	%li{id: "content_admin"} Content Administration

%div{id: "store_admin", class: "hideable"}
	%h1 Store Admin
	%ul
		%li= link_to "Ticket Administration", ticket_types_path
		%li= link_to "Ticket Set Administration", ticket_sets_path 
		%li= link_to "Ticket List", tickets_all_path 
		%li= link_to "Merchandise Administration", merchandise_types_path
		%li= link_to "Merchandise Set Administration", merchandise_sets_path
		%li= link_to "Merchandise Option Set Administration", merchandise_option_sets_path
		- if user_can_visit? :index, :set_con_mode
			- if SiteSettings.con_mode
				%li= link_to "Disable Con Mode", set_con_mode_path(enable: false)
			- else
				%li= link_to "Enable Con Mode", set_con_mode_path(enable: true)

%div{id: "treas_admin", class: "hideable"}
	%h1 Treasury Admin
	%ul
		%li= link_to "Orders Administration", orders_path(all: true)
		%li= link_to "Payments Administration", payments_path

%div{id: "content_admin", class: "hideable"}
	%h1 Content Admin
	%ul
		%li= link_to "Content Pages", content_pages_path if user_can?("see", ContentPage) 
		%li= link_to "Content Blocks", content_blocks_path if user_can?("see", ContentBlock) 
		%li= link_to "Content Tags", content_tags_path if user_can?("see", ContentTag)
		%li= link_to "Content Images", content_images_path if user_can?("see", ContentImage) 
		%li= link_to "Content Files", content_files_path if user_can?("see", ContentFile)
		%li= link_to "Events", events_path if user_can?("edit", Event)

%div{id: "details", class: "hideable"}
	%h1 Search Members
	%div
		%label{for: "name"} Name:
		%input{type: "text", name: "gather_member_search", id: "name"}
		%button{id: "gather_member_search"} Search
		%span{id: "gather_member_search_message"}
	%table{id: "gather_member_search_results", class: "hideable"}
		%tr
			%th Badge Name
			%th Real Name
			%th Username
			%th Email
			%th Actions
	%h1 Create New Member
	%button{id: "member_create"} Create New Member
	%div{id: "member_create_form", class: "hideable"}
		= hidden_field_tag "user[id]", 0
		%div 
			%label{for: "username"}Username:
			= text_field_tag "user[username]", "", id: "username", autocorrect: "off", autocapitalize: "off"
			%span{name:"user[username]_msg"}
		%div
			%label{for: "email"}Email:
			= text_field_tag "user[email]", "", id: "email", autocorrect: "off", autocapitalize: "off"
			%span{name:"user[email]_msg"}
		%div
			%label{for: "name_first"}Name:
			= text_field_tag "user[member_detail_attributes[name_first]]", "", id: "name_first", autocorrect: "off", autocapitalize: "off"
			= text_field_tag "user[member_detail_attributes[name_last]]", "", autocorrect: "off", autocapitalize: "off" 
			%span{name:"user[member_detail_attributes[name_first]]_msg"}
		%div
			%label{for: "name_badge"}Badge Name / Nickname:
			= text_field_tag "user[member_detail_attributes[name_badge]]", "", id: "name_badge", autocorrect: "off", autocapitalize: "off"
		%div
			%label{for: "address_1"}Address
		%div
			= text_field_tag "user[member_detail_attributes[address_1]]", "", id: "address_1", autocorrect: "off", autocapitalize: "off" 
			%span{name:"user[member_detail_attributes[address_1]]_msg"}
		%div
			= text_field_tag "user[member_detail_attributes[address_2]]", "", autocorrect: "off", autocapitalize: "off"
			%span{name:"user[member_detail_attributes[address_2]]_msg"}
		%div
			%label{for: "address_3"}Suburb / City:
			= text_field_tag "user[member_detail_attributes[address_3]]", "", id: "address_3", autocorrect: "off", autocapitalize: "off"
			%span{name:"user[member_detail_attributes[address_3]]_msg"}
		%div
			%label{for: "address_postcode"}Postcode:
			= text_field_tag "user[member_detail_attributes[address_postcode]]", "", id: "address_postcode", autocorrect: "off", autocapitalize: "off"
			%span{name:"user[member_detail_attributes[address_postcode]]_msg"}
		%div
			%label{for: "address_state"}State:
			= text_field_tag "user[member_detail_attributes[address_state]]", "", id: "address_state", autocorrect: "off", autocapitalize: "off" 
			%span{name:"user[member_detail_attributes[address_state]]_msg"}
		%div
			%label{for: "address_country"}Country:
			= text_field_tag "user[member_detail_attributes[address_country]]", "Australia", id: "address_country", autocorrect: "off", autocapitalize: "off"
			%span{name:"user[member_detail_attributes[address_country]]_msg"}
		%div
			%label{for: "phone"}Phone:
			= text_field_tag "user[member_detail_attributes[phone]]", "", id:"phone", autocorrect: "off", autocapitalize: "off"
		%div
			%label{for: "emails"}Can we send you emails?
			= check_box_tag "user[member_detail_attributes[email_optin]]", "true", false, id: "emails", autocorrect: "off", autocapitalize: "off"
		= render partial: "/member_details/disclaimer"
		%div
			%label{for:"disclaimer_signed"}I Agree to the Above:
			= check_box_tag "user[member_detail_attributes[disclaimer_signed]]", "true", false, id: "disclaimer_signed"
		%button{id:"member_create_form_submit", disabled:"true"}Create/Update Member
%div{id: "member_created_message"}
