.intro
  .container
    %h2 On 2 -6 April, 2015 We're celebrating 40 years of Swancon
    =link_to "Get tickets now!", store_path, class: "btn btn-primary"

.about
  .copy
    %p We are a speculative fiction convention that is invested in all kinds of media. You'll find panels and discussion about games, film, literature, and graphic novels. If you are interested in science fiction or fantasy of almost any flavour, we'll have something for you.

.guests


%article{id: "guests"}
  - items_for_tag("guests").each do |item|
    %div{class: "guests"}
      %a{name: "guests"}
      = link_to item[:path] do
        %h3=item[:title]
      = link_to item[:path] do
        - if item[:image].present?
          =image_tag(item[:image][:medium], alt: item[:medium])
      %p=item[:text]
      = link_to item[:path] do
        =image_tag("ruby150-2.png")

%section{class:"dark"}
  %article
    %a{name: "program"}
    - if items_for_tag("programme").count > 0
      = items_for_tag("programme").first[:rendered_text]
    - else
      %h2 The Program
      %p Whoa there, it's still early days yet! We'll be adding to and refining the program in 2014, so stay tuned for more details.
/    %button{id: "showmore"}
/      View program online
/      = image_tag("tinyruby.png", alt: "Celebrating Swancon 40")
/    %div{id: "more"}
/      %div{class: "sq1"}
/        %h4 TIME 1
/        %p Details coming soon
/    %p 
/    &elipsis or 
/    = link_to "download"
/    the pdf.

- unless viewable_events.empty?
  %article{id:"events"}
    %a{name: "events"}
    %h2 Events We Host
    - viewable_events.each do |item|
      %div
        = link_to item[:path] do
          %div{class: "image"}
            - if item[:image].present?
              = image_tag(item[:image][:medium], alt: item[:title], height: 111)
        %div{class: "info"}
          %h3=item[:title]
          %h5=item[:date]
          %p=item[:text]
  /        = link_to item[:path] do
  /         =image_tag("ruby150-2.png", alt: item[:title])
