- add_body_classes("home")
.intro
  .container
    - if items_for_tag("intro").count > 0
      = items_for_tag("intro").first[:rendered_text]
    - else
      %h2
        %strong Swancon 42<br>
        13-17 April, 2017<br>
        (Easter)
    =link_to "Get memberships now!", store_path, class: "btn btn-primary"

.about
  - if items_for_tag("about").count > 0
    = items_for_tag("about").first[:rendered_text]
  - else
    %h2 About us
    .copy
      %p We are a speculative fiction convention that is invested in all kinds of media. You will find panels and discussion about games, film, literature, and graphic novels. If you are interested in science fiction or fantasy of almost any flavour, we will have something for you.
    .year-logo-
      =image_tag("Swancon42HeaderLogo.png", alt: "Swancon42 Logo", align: "right", width: "200", height: "200", title: "Swancon 42 Logo")

.guests
  .container
    %h2 Our Guests
    %ul
      - items_for_tag("guests").each do |item|
        %li
          = link_to item[:path] do
            - if item[:image].present?
              =image_tag(item[:image][:medium], alt: item[:medium])        
          %a{name: "guests"}
          = link_to item[:path] do
            %h3=item[:title]

          %p=item[:text]

.program
  %a{name: "program"}
  - if items_for_tag("programme").count > 0
    = items_for_tag("programme").first[:rendered_text]
  - else
    %h2 The Program
    %p Whoa there, it's still early days yet! We'll be adding to and refining the program in late 2016, so stay tuned for more details.

- unless viewable_events.empty?
  .events
    .container
      %h2 Events      
      - viewable_events.each do |item|
        %article#event
          %h3=item[:title]
          %h4=item[:date]
          %p=item[:text]

