%section
  %article
    %div{id: "ruby"}= image_tag("ruby250.png", alt: "Celebrating Swancon 40")
    %div{id: "intro"}
      %h2 Welcome to Swancon 40
      %h5{id: "event-date"} 2 - 6 April, 2015
      %p This year is something special, as this is our 40th consecutive convention - our ruby anniversary - in WA. We'd like to invite you to celebrate this milestone with us.
      %p We are a speculative fiction convention that is invested in all kinds of media. You'll find panels and discussion about games, film, literature, and graphic novels. If you are interested in science fiction or fantasy of almost any flavour, we'll have something for you.

      %p 
        - menu_items.each do |item|
          - unless item[:first]
            %span{class:"divider"}= "|"
          = link_to item[:name].upcase, item[:path]

%article{id: "guests"}
  - items_for_tag("guests").each do |item|
    %div{class: "guests"}
      %a{name: "guests"}
      = link_to item[:path] do
        %h3=item[:title]
      = link_to item[:path] do
        - if item[:image].present?
          =image_tag(item[:image][:medium], alt: item[:medium])
      %p=item[:text]
      = link_to item[:path] do
        =image_tag("ruby150-2.png")
}

%section{class:"dark"}
  %article
    %a{name: "program"}
    %h2 The Program
    %p Whoa there, it's still early days yet! We'll be adding to and refining the program in 2014, so stay tuned for more details.
/    %button{id: "showmore"}
/      View program online
/      = image_tag("tinyruby.png", alt: "Celebrating Swancon 40")
/    %div{id: "more"}
/      %div{class: "sq1"}
/        %h4 TIME 1
/        %p Details coming soon
/    %p 
/    &elipsis or 
/    = link_to "download"
/    the pdf.

%article{id:"events"}
  %a{name: "events"}
  %h2 Events We Host
  - viewable_events.each do |item|
    %div
      = link_to item[:path] do
        %div{class: "image"}
          - if item[:image].present?
            = image_tag(item[:image][:medium], alt: item[:title], height: 111)
      %div{class: "info"}
        %h3=item[:title]
        %h5=item[:date]
        %p=item[:text]
/        = link_to item[:path] do
/         =image_tag("ruby150-2.png", alt: item[:title])

%section
  %article{id: "contact"}
    %a{name: "contact"}
    %h2 Contact Us
    %div.people
      %p{class: "bolded"} Committee Contacts
      %p
        %strong Convenor
        &dash; Kat Griffiths
        %br
        %strong Secretary
        &dash; Stephen Griffiths
        %br
        %strong Treasurer
        &dash; Helen Duffill
        %br
        %strong Panel Coordinator
        &dash; Sarah Parker
    %div 
      %p
        %strong Contact email:
        %br= link_to "secretary-2015@swancon.com.au", "mailto:secretary-2015@swancon.com.au"

    %div
      %p{class: "bolded"} Swancon in Social Media
      = link_to "https://www.facebook.com/groups/5668237047/" do 
        = image_tag("fb.png", alt: "Swancon on Facebook")
      = link_to "https://twitter.com/Swancon" do
        = image_tag("twitter.png", alt: "Swancon on Twitter")

%article{id: "tickets"}
  %a{name: "tickets"}
  = link_to store_path(category: "convention tickets") do  
    %button{id: "showmoretickets"}
      Get tickets now!
      = image_tag("tinyruby.png", alt: "Swancon on Facebook")
//  %div{id: "moretickets"}
