<% if @rolename != nil%>
<h1>Listing Users with <%= @rolename %></h1>
<% else -%>
<h1>User Counts</h1>
<% end -%>

<% if @rolename != nil %>
<table>
  <tr>
		<th>Username</th>	
		<th>Roles</th>
		<th>Email</th>		
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
		<td><%= user.username %></td>
		<td><%= user.displayRoles %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<% else -%>
<table>
	<tr>
		<th>Role</th>
		<th>Users</th>
		<th></th>
	</tr>
<% Role.all.each do |role| -%>
	<tr>
		<td><%= role.name %></td>
		<td><%= role.users.count %></td>
		<td><%= link_to "List", users_path(:roles => "#{role.name}") -%>
	</tr>
<% end -%>
	<tr>
		<td>Users without Roles</td>
		<td></td>
		<td><%= link_to "List", users_path(:norole => true) -%>
	</tr>
</table>
<% end -%>
<%= link_to 'New User', new_user_path %>
