<% content_for :title do %>User/Member Administration<% end %>
<% content_for :header do %>
<script>
$().ready(function() {

});
</script>
<% end %>
<h1>User/Member Administration</h1>
<%= form_tag(users_admin_index_path, remote: true, method: "get") do %>
<h2>Search</h2>
 <%= label_tag(:name_search, "Name") %> <%= text_field_tag(:name_search) %><br/>
 Roles: <%- Role.all.each do |role| %>
 <%= check_box_tag("role[#{role.name}]") %><%= label_tag("role[#{role.name}]", role.name.capitalize) %>
 <%- end %><%= check_box_tag("role[no_role]") %><%= label_tag("role[no_role]", "No Role") %><br/>
 Disclaimer: <%= radio_button_tag("disclaimer", "true") %> Signed <%= radio_button_tag("disclaimer", "false") %> Unsigned <%= radio_button_tag("disclaimer", "null") %> Don't Care<br/>
<%= submit_tag("Search") %>
<% end %>

<h2>Results</h2>
<div id="results">
<%= render partial: "noresults" %>
</div>
<h2>New User</h2>
<% @user = User.new %>
<%= form_for(@user, :url => users_admin_index_url(@user, quickform: false), :method => :post) do |form| %>
<%= render partial: 'form', locals: {quick: false, f: form} %>
<% end %>
