<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<h2>Orders</h2>
<ul>
	<% @user.orders.each do |order| %>
	<li><%= link_to order.invoice_number, order_path(order) %><% if order.payment != nil %>Receipt: <%= link_to order.payment.receipt, order.payment %><% end %></li>
	<% end %>
</ul>

<%- if @user.member_detail != nil %>
<%= link_to "More member details available", @user.member_detail %><br/>
<%- else %>
<%= link_to "Create Member Details", new_member_detail_path(:user_id => @user.id) %><br/>
<%- end %>
<%= link_to "Purchase For this User", purchase_for_users_admin_path(@user) %> |
<%= link_to 'Edit', edit_users_admin_path(@user) %> |
<%= link_to 'Back', users_admin_path %>
