<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<%- if @user.member_detail != nil %>
<%= link_to "More member details available", @user.member_detail %><br/>
<%- end %>

<%= link_to 'Edit', edit_users_admin_path(@user) %> |
<%= link_to 'Back', users_admin_path %>
