<% content_for :title do %>DoomCon 2012 - All Sold Tickets<% end %>
<h2>Sold Tickets</h2>
<% if @all %>All<% else %><%= link_to "All", multiple: false %><% end %> | 
<% if @multiple %>Member Owns Multiple Tickets<% else %><%= link_to "Member Owns Multiple Tickets", multiple: true %> <% end %> |
<% if @pending %>Transfer Pending<% else %><%= link_to "Transfer Pending", pending: true %> <% end %> 
<br/>
<% @sets.each do |set| %>
<H2><%= set.name %> Tickets</h2>
<% if @subquery == nil %>
<% collection = set.sold_tickets %>
<% else %>
<% collection = set.send(@subquery) %>
<% end %>
<div class="floatright"><%= link_to "Badge CSV Export", format: :csv, action: :export_badges, multiple: @multipler, pending: @pending, id: set.id %> |
<%= link_to "Sales CSV Export", format: :csv, action: :export_salesdata, multiple: @multipler, pending: @pending, id: set.id %></div>
<table width="100%" class="sortable tickets">
	<tr>
		<th>Owner</th>
		<th>Badge Name</th>
		<th>Purchaser</th>
		<th>Payment Verified</th>
		<th></th>
  </tr>
<% collection.joins{user.member_detail.outer}.order{[user.member_detail.name_first, user.member_detail.name_last]}.each do |user_order_ticket| %>
<% if user_order_ticket.user.member_detail == nil %>
	<tr style="background-color: red;">
<% else %>
	<tr>
<% end %>
		<% user = user_order_ticket.user %>
		<td><%= link_to user.display_name, users_admin_path(user) %></td>
		<% if user.member_detail == nil %>
			<td>NO MEMBER DETAILS</td>
		<% else %>
			<td><%= user.member_detail.name_badge %></td>
		<% end %>
		<td><%= user_order_ticket.user_order.user.display_name %></td>
		<td style="text-align: center;"><% if user_order_ticket.payment_verified? %>Yes<% else %>No<% end %></td>
		<td><% if user_order_ticket.can_transfer?(current_user) %><% if user_order_ticket.transferring %>Transferring to: <%= user_order_ticket.transfers.where(confirmed_on: nil).first.recipient.display_name -%>
			<% else user_order_ticket.transferring %><%= link_to "Transfer", action: :transfer, id: user_order_ticket.id, alltickets: @alltickets -%>
			<% end %>
			<% end %></td>
	</tr>
<% end %>
</table>
<% end %>
<br/>

<!-- FIXME: Add list of transfer's that are pending -->
