<% content_for :title do %>DoomCon 2012 - All Sold Tickets<% end %>
<h2>Sold Tickets</h2>
<% if @all %>All<% else %><%= link_to "All", multiple: false %><% end %> | 
<% if @multiple %>Member Owns Multiple Tickets<% else %><%= link_to "Member Owns Multiple Tickets", multiple: true %> <% end %> |
<% if @pending %>Transfer Pending<% else %><%= link_to "Transfer Pending", pending: true %> <% end %> 
<br/>
<% @sets.each do |set| %>
<H2><%= set.name %> Tickets</h2>
<% if @subquery == nil %>
<% collection = set.sold_tickets %>
<% else %>
<% collection = set.send(@subquery) %>
<% end %>
<div class="floatright"><%= link_to "Badge CSV Export", format: :csv, action: :export_badges, multiple: @multipler, pending: @pending, id: set.id %> |
<%= link_to "Sales CSV Export", format: :csv, action: :export_salesdata, multiple: @multipler, pending: @pending, id: set.id %></div>
<table width="100%" class="sortable tickets">
	<tr>
		<th>Owner</th>
		<th>Badge Name</th>
		<th>Purchaser</th>
		<th>Operator</th>
		<th>Payment Verified</th>
		<th>Card Issued</th>
		<th></th>
  </tr>
<% collection.joins{user.member_detail.outer}.order{[user.member_detail.name_first, user.member_detail.name_last]}.each do |ticket| %>
<%= render partial: "ticket", locals: {all: true, ticket: ticket} %>
<% end %>
</table>
<% end %>
<br/>