<% content_for :title do %>DoomCon 2012 - Award: <%= @award.name %><% end %>
<h1><%= @award.name %></h1>
<p id="notice"><%= notice %></p>
<% if @award.active %>
<div style="font-size: 1.5em; color: green;">Active</div>
<% else %>
<div style="font-size: 1.5em; color: red;">Inactive</div>
<% end %>
<%= link_to 'Edit', edit_award_path(@award) %>
<%= link_to 'Destroy', @edit_award_path, :confirm => 'Are You Sure? (this will remove all categories for this award), ', :method => :delete if @award.destroyable? %> 
<%= redcloth_render(@award.description) %>

<h2>Categories</h2>
<div id="categories">
<%= render partial: "category_list", locals: {award: @award} %>
</div>
<br/>
<br/>

<div class="right"><%= link_to "(CSV)", nominations_award_path(@award, format: :csv) %></div>
<h2>Nominations</h2>
<% @award.categories.each do |category| %>
<div class="right"><%= link_to "(CSV)", nominations_award_path(@award, format: :csv, category_id: category.id) %></div>
<h3><%= category.name %></h3>
<br/>
<table width="100%">
<tr><th>Nominator</th><th>Work</th><th>Nominee</th></tr>
<% category.award_nomination_categories.each do |nom| %>
<tr><td><%= nom.parent.display_name %></td><td><%= nom.work %></td><td><%= nom.nominee%></td></tr>
<% end %>
</table>
<br/>
<% end %>
<%= link_to 'Back', awards_path %>
