<% content_for :title do %>DoomCon 2012 - Award: <%= @award.name %><% end %>
<h1><%= @award.name %></h1>
<p id="notice"><%= notice %></p>
<% if @award.active %>
<div style="font-size: 1.5em; color: green;">Active</div>
<% else %>
<div style="font-size: 1.5em; color: red;">Inactive</div>
<% end %>
<%= link_to 'Edit', edit_award_path(@award) %>
<%= link_to 'Destroy', @edit_award_path, :confirm => 'Are You Sure? (this will remove all categories for this award), ', :method => :delete if @award.destroyable? %> 
<%= redcloth_render(@award.description) %>

<h2>Categories</h2>
<div id="categories">
<%= render partial: "category_list", locals: {award: @award} %>
</div>
<br/>
<br/>

<h2>Nominations</h2>
<% @award.category_nominations.each do |nom| %>
<%= nom.parent.display_name %> Nominated '<%= nom.work %>' by <%= nom.nominee%><br/>
<% end %>
<%= link_to 'Back', awards_path %>
