<% content_for :title do %>DoomCon 2012 - Panel: <%= @panel_suggestion.name %><% end %>
<h1><%= @panel_suggestion.name %></h1>
<p id="notice"><%= notice %></p>

<p>
  <%= raw RedCloth.new(@panel_suggestion.description).to_html %>
</p>

<%- if @panel_suggestion.user_id_visible %>
<p><b>Suggested By:</b> <%= @panel_suggestion.user.name %></p>
<%- end %>
<% if @panel_suggestion.visible %>
<%= link_to 'Hide', make_invisible_panel_suggestion_path(@panel_suggestion) if permitted_to? :make_invisible, :panel_suggestions -%>
<% else %>
<%= link_to 'Show', make_visible_panel_suggestion_path(@panel_suggestion) if permitted_to? :make_visible, :panel_suggestions -%>
<% end %>
 <%= link_to 'Edit', edit_panel_suggestion_path(@panel_suggestion) if @panel_suggestion.allowed_to_edit?(current_user) -%>
 <%= link_to 'Destroy', @panel_suggestion, :confirm => 'Are You Sure?', :method => :delete if permitted_to? :destroy, :panel_suggestions -%>
 <%= link_to 'Back', panel_suggestions_path %>
