<!DOCTYPE html>
<html>
<head>
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<%= @transfer.previous_owner.display_name %>,
<p>Someone (hopefully you!) has requested a transfer of one of your tickets to another person.</p>
<p>The ticket in question is a: <%= @ticket.type.order_name %></p>
<p>The recipient is: <%= @recipient.display_name %> at email address "<%= link_to @recipient.email, "mailto:#{@recipient.email}" %>"</p>
<p>To complete this transfer click <%= link_to "Here", controller: :tickets, action: :reconfirm_transfer, id: @transfer.id, code: @transfer.confirmation_code %>. After clicking this, you will no-longer own this ticket and will lose all rights this ticket confers.</p>
<p>Transfers must be complete before April 5th <%# FIXME: GET FINAL DATE FROM SET %> in order for this transfer to occur</p>
<p>If you did not request this transfer, or to cancel it, please email us at <%= link_to "memberships-2012@swancon.com.au", "mailto:memberships-2012@swancon.com.au" %> to resolve this.</p>
</body>