<%= form_for(@merchandise_type) do |f| %>
  <% if @merchandise_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@merchandise_type.errors.count, "error") %> prohibited this merchandise_type from being saved:</h2>

      <ul>
      <% @merchandise_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :merchandise_set_id %><br />
    <%= f.select(:merchandise_set_id, MerchandiseSet.order(:name).all.collect {|item| [item.name, item.id]}) %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
