<h1>Listing merchandise_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Merchandise set</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @merchandise_types.each do |merchandise_type| %>
  <tr>
    <td><%= merchandise_type.name %></td>
    <td><%= link_to merchandise_type.merchandise_set.name, merchandise_type.merchandise_set %></td>
    <td><%= render_money(merchandise_type.price) %></td>
    <td><%= link_to 'Show', merchandise_type %></td>
    <td><%= link_to 'Edit', edit_merchandise_type_path(merchandise_type) %></td>
    <td><% if merchandise_type.deletable? %><%= link_to 'Destroy', merchandise_type, :confirm => 'Are you sure?', :method => :delete %><% end %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Merchandise type', new_merchandise_type_path %>
