<div class="title"><%= @merchandise_type.name %></div>
<p class="olive"><%= render_money(@merchandise_type.price) %></p>

<p>
  <b>Merchandise set:</b>
  <%= link_to @merchandise_type.set.name, @merchandise_type.set %>
</p>


<p>
	Available <% -%>
	<% if @merchandise_type.available_from != nil -%>
	from <%= render_time(@merchandise_type.available_from) -%>
	<% end -%>
	<% if @merchandise_type.available_to != nil -%>
	to <%= render_time(@merchandise_type.available_to) %>
	<% end -%>
</p>

<p>
	<b>Options</b><br/>
	<% @merchandise_type.option_sets.all.each do |set| -%>
	<% if @merchandise_type.options.where(:merchandise_option_set_id => set.id).count > 0 %>
	<%= set.name %><br/>
	<blockquote>
	<% @merchandise_type.options.where(:merchandise_option_set_id => set.id).all.each do |option| %>
	<%= option.name %> - <%= option.description %> | <%= link_to 'Edit', edit_merchandise_type_merchandise_option_path(@merchandise_type, option) %> <% if option.deletable? %> <%= link_to 'Destroy', [@merchandise_type, option], :confirm => "Really delete option?", :method => :delete %> <% end %> <br/>
	<% end %>
	</blockquote>
	<% end %>
	<% end -%>
</p>

<%= link_to 'Add Option', new_merchandise_type_merchandise_option_path(@merchandise_type) %><br/>

<%= link_to 'Edit', edit_merchandise_type_path(@merchandise_type) %> |
<%= link_to 'Back', merchandise_types_path %>

<p>
	<% @order = @merchandise_type.orders.unpaid %>
	<b>Unpaid Orders - <%= @order.count %> - <%= render_money(@order.count * @merchandise_type.price) %></b>
	<%= render :partial => "order_list" %>
</p>

<p>
	<% @order = @merchandise_type.orders.outstanding %>
	<% @include_check_box = true %>
	<% @include_shipped = true %>
	<b>Outstanding Orders (paid, not ordered from supplier)- <%= @order.count %> - <%= render_money(@order.count * @merchandise_type.price) %></b>
	<%= form_for(VendorOrder.new) do |f| %>
	<%= render :partial => "order_list" %>
	<%= f.submit("Create Vendor Order")%>
	<% end %>
</p>

<p>
	<% @order = @merchandise_type.orders.placed %>
	<% @include_check_box = false %>
	<% @include_shipped = false %>
	<b>Orders placed, not arrived from vendor - <%= @order.count %> - <%= render_money(@order.count * @merchandise_type.price) %></b>
	<%= render :partial => "order_list" %>
</p>

<p>
	<% @order = @merchandise_type.orders.arrived %>
	<% @include_shipped = true %>	
	<b>Orders placed and arrived, not shipped - <%= @order.count %> - <%= render_money(@order.count * @merchandise_type.price) %></b>
	<%= render :partial => "order_list" %>
</p>

<p>
	<% @order = @merchandise_type.orders.completed %>
	<% @include_shipped = false %>
	<b>Completed Orders - <%= @order.count %> - <%= render_money(@order.count * @merchandise_type.price) %></b></b>
	<%= render :partial => "order_list" %>
</p>

<p>
	<b>Orders (old system)</b>
	<% order = 1 %>
	<blockquote>
	<% @merchandise_type.launch_member_merchandise_types.each do |lmmt| %>
	<%= order %>. <%= lmmt.launch_member.name %> Options: <% lmmt.options.each do |option| %><%= option.set.name %> - <%= option.name %> <% end %><br/>
	<% order += 1%>
	<% end %>
	</blockquote>
</p>