<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @merchandise_type.name %>
</p>

<p>
  <b>Merchandise set:</b>
  <%= @merchandise_type.merchandise_set_id %>
</p>

<p>
  <b>Price:</b>
  <%= @merchandise_type.price %>
</p>

<p>
	<b>Available From:</b> <%= render_time(@merchandise_type.available_from) %><br/>
	<b>Available To:</b> <%= render_time(@merchandise_type.available_to) %>
	<% if @merchandise_type.available? %>
	Available Now!
	<% end %>
</p>

<p>
	<b>Options</b><br/>
	<% @merchandise_type.option_sets.all.each do |set| -%>
	<% if @merchandise_type.options.where(:merchandise_option_set_id => set.id).count > 0 %>
	<%= set.name %><br/>
	<blockquote>
	<% @merchandise_type.options.where(:merchandise_option_set_id => set.id).all.each do |option| %>
	<%= option.name %> | <%= link_to 'Edit', edit_merchandise_type_merchandise_option_path(@merchandise_type, option) %><br/>
	<% end %>
	</blockquote>
	<% end %>
	<% end -%>
</p>

<p>
	<% order = @merchandise_type.orders.unpaid %>
	<b>Unpaid Orders - <%= order.count %></b>
	<% rank = 1 %>
	<blockquote>
	<% order.each do |uom| %>
	<%= rank %>. <%= uom.name %> Options: <% uom.options.each do |option| %><%= option.set.name %> - <%= option.name %> <% end %><br/>
	<% rank += 1%>
	<% end %>
	</blockquote>
</p>

<p>
	<% order = @merchandise_type.orders.outstanding %>
	<b>Outstanding Orders (paid, not ordered from supplier)- <%= order.count %></b>
	<% rank = 1 %>
	<blockquote>
	<% order.each do |uom| %>
	<%= rank %>. <%= uom.name %> Options: <% uom.options.each do |option| %><%= option.set.name %> - <%= option.name %> <% end %><br/>
	<% rank += 1%>
	<% end %>
	</blockquote>
</p>

<p>
	<b>Orders (old system)</b>
	<% order = 1 %>
	<blockquote>
	<% @merchandise_type.launch_member_merchandise_types.each do |lmmt| %>
	<%= order %>. <%= lmmt.launch_member.name %> Options: <% lmmt.options.each do |option| %><%= option.set.name %> - <%= option.name %> <% end %><br/>
	<% order += 1%>
	<% end %>
	</blockquote>
</p>

<%= link_to 'Add Option', new_merchandise_type_merchandise_option_path(@merchandise_type) %><br/>

<%= link_to 'Edit', edit_merchandise_type_path(@merchandise_type) %> |
<%= link_to 'Back', merchandise_types_path %>
