Receipt: <%= @payment.receipt_number %> for Invoice <%= link_to @payment.user_order.invoice_number, order_path(@payment.user_order) %><br/>
Issued: <%= @payment.created_at.strftime("%d/%m/%Y %H:%M %Z") %><br/>
Last Updated:<%= @payment.updated_at.strftime("%d/%m/%Y %H:%M %Z") %><br/>
<%- if @payment.operator != nil %>
Operator: <%= @payment.operator.username %>
<%- end %>
<% if @payment.isvoid? %>
Voided: <%= @payment.voided_at.strftime("%d/%m/%Y %H:%M %Z") %><br/>
Voided By: <%= @payment.voiding_user.name %><br/>
<% end %>
Ordered For: <%= link_to(@payment.order.user.order_name, users_admin_path(@payment.order.user)) %><br/>


<% @order = @payment.user_order %>
<%= render :partial => "user_orders/listing" %>

<div class="text-right">Total Paid: <%= @payment.amount %></div>
Paid Via: <%= @payment.type.name %></br>

<%- if @order.tickets.count > 0 and (@order.user.member_detail == nil or !@order.user.member_detail.disclaimer_signed) %>
<br/>
<%= render :partial => "/member_details/disclaimer"%>
<%- end %>

<%= link_to 'Back', @launch_member, :class => "noprint" %>
