<%= form_for(@payment_type) do |f| %>
  <% if @payment_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_type.errors.count, "error") %> prohibited this payment_type from being saved:</h2>

      <ul>
      <% @payment_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :requires_reconciliation %><br />
    <%= f.check_box :requires_reconciliation %>
  </div>

  <div class="field">
    <%= f.label :available_online %><br />
    <%= f.check_box :available_online %>
  </div>

  <div class="field">
    <%= f.label :available_to_ticket_seller %><br />
    <%= f.check_box :available_to_ticket_seller %>
  </div>

  <div class="field">
    <%= f.label :surcharge_percent %><br />
    <%= f.text_field :surcharge_percent %>
  </div>

  <div class="field">
    <%= f.label :surcharge_value %><br />
    <%= f.text_field :surcharge_value %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
