{{#modal-dialog title=title action='removeModal'}}
  <h2>Order Complete.</h2>
  <div>
    {{#if model.email}}
      Email Sent to User
    {{else}}
      NO EMAIL SENT - User doesn't have email address.
    {{/if}}
  </div>
  {{#if model.conMode}}
    <div>Tickets have already been redeemed</div>
  {{/if}}
  {{#if model.paymentId}}
    <h2>Order Number: {{model.invoiceNumber}}</h2>
    <h2>Order is Paid!</h2>
    <div><a {{bind-attr href=orderUrl}}><button>Show Order</button></a></div>
    <div><a {{bind-attr href=paymentUrl}}><button>Show Payment</button></a></div>
  {{else}}
    <h2>Order Number: {{model.invoiceNumber}}</h2>
    <div><a {{bind-attr href=orderUrl}}><button>Show Order</button></a></div>
  {{/if}}

  <button {{action 'complete'}}>Return to Member Search</button>
{{/modal-dialog}}
