<div id="cart">
<h1>Cart</h1>
<h2>Total: {{render-currency total}}</h2>
{{#if showAllCart}}
<button {{action 'hideCart'}}>Hide Cart</button>
<button {{action 'resetCart'}}>Reset Cart</button>
<h2>Tickets</h2>

<ul>
{{#each ticket in tickets}}
  <li>
    {{ticket.name}}
    {{#if ticket.concession}} - concession{{/if}}
    - {{render-currency ticket.price}}
    <button class="ticket_button" {{action 'removeTicket' ticket}}>Remove</button>
  </li>
{{/each}}
</ul>
Payment Type: {{view "select" content=paymentTypes optionLabelPath='content.name' optionValuePath='content' value=currentPaymentType}}
<button {{action 'checkOut'}}>Check Out</button>
{{else}}
<button {{action 'showCart'}}>Show Cart</button>
{{/if}}
</div>
<h1>Store for {{model.nameReal}}</h1>
<h2>Badge Name: {{model.nameBadge}}</h2>

{{#unless loaded}}
Loading Data...
{{else}}
{{#each set in ticketSets}}
  <h2>{{set.name}}</h2>
  <ul>
    {{#each ticket in set.tickets}}
      <li>{{ticket.name}}
        <button class="ticket_button" {{action 'addFullTicket' ticket}}>Full: {{render-currency ticket.price}}</button>
        {{#if ticket.concessionPrice}}
          <button class="ticket_button" {{action 'addConcessionTicket' ticket}}>Concession: {{render-currency ticket.concessionPrice}}</button>
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{/each}}

{{/unless}}
