<div class="title">Store</div>
<%= render partial: "header" %>
<% @ticketsets.each do |set| -%>
<h2><%= set.name %> Tickets</h2>
<ul>
<%- ticketquery = set.tickets.available(current_user) %>
<% ticketquery.all.each do |ticket| -%>
<% if ticket.available? %>
<li><%= link_to :action => "ticket", :id => ticket.id do%>
<%= ticket.name %> <%= render_money ticket.price %><% if ticket.concession_price %> / <%= render_money ticket.concession_price %> <% end %>
<% end %></li>
<%- else %>
<li><%= link_to :action => "ticket", :id => ticket.id do%>
<%= ticket.name %> <%= render_money ticket.price %><% if ticket.concession_price %> / <%= render_money ticket.concession_price %> <% end %>(unlisted) 
<% end %></li>
<%- end %>
<%- end %>
</ul>
<% end -%>

<% @merchsets.each do |set| -%>
<h2><%= set.name %></h2>
<ul>
<%- merchquery = set.merchandise.available(current_user) %>
<% merchquery.all.each do |merch| -%>
<% if merch.available? %>
<li><%= link_to "#{merch.name} #{render_money(merch.price)}", :action => "merchandise", :id => merch.id %></li>
<% else %>
<li><%= link_to "#{merch.name} #{render_money(merch.price)}", :action => "merchandise", :id => merch.id %> (currently unlisted)</li>
<% end %>
<% end %>
</ul>
<% end -%>

<%= render :partial => "cart" %>

