<% content_for :title do %>Doom-Store&trade;<% end %>
<div class="title">Store</div>
<%= render partial: "header" %>
<% @ticketsets.each do |set| -%>
<h2><%= set.name %> Memberships</h2>
<ul>
<%- ticketquery = set.tickets.available %>
<%- if @store_user != nil %>
<%- ticketquery = set.tickets %>
<%- end %>
<% ticketquery.all.each do |ticket| -%>
<% if ticket.available? %>
<li><%= link_to "#{ticket.name} #{render_money(ticket.price)}", :action => "ticket", :id => ticket.id %></li>
<%- else %>
<li><%= link_to "#{ticket.name} #{render_money(ticket.price)}", :action => "ticket", :id => ticket.id %> (currently unlisted)</li>
<%- end %>
<%- end %>
</ul>
<% end -%>

<% @merchsets.each do |set| -%>
<h2><%= set.name %></h2>
<ul>
<%- merchquery = set.merchandise.available %>
<%- if @store_user != nil %>
<%- merchquery = set.merchandise %>
<%- end %>
<% merchquery.all.each do |merch| -%>
<% if merch.available? %>
<li><%= link_to "#{merch.name} #{render_money(merch.price)}", :action => "merchandise", :id => merch.id %></li>
<% else %>
<li><%= link_to "#{merch.name} #{render_money(merch.price)}", :action => "merchandise", :id => merch.id %> (currently unlisted)</li>
<% end %>
<% end %>
</ul>
<% end -%>

<%= render :partial => "cart" %>
