<% content_for :title do %>Doom-Store&trade; - <%= @merch.name %><% end %>
<div class="title"><%= @merch.name %></div>
<p class="olive"><%= render_money(@merch.price) %></p>

<%= render partial: "header" %>

<% @merch.images.each do |image| -%>
<div class="merchandise-image" style="width: <%= image.width %>px;"><img src="<%= image.url %>" height="<%= image.height %>" width="<%= image.width %>"/><div class="caption"><%= image.description %></div></div>
<% end -%>
<%= form_tag({:action => "merchandise_add", :id => @merch.id}) do %>
<% @merch.option_sets.all.each do |set| %>
<h2><%= set.name %> options</h2>
<ul>
<% checked = true %>
<% @merch.options.where(:merchandise_option_set_id => set.id).all.each do |option| %>
<li><%= radio_button_tag "option_set[#{set.id}]", option.id, checked %> <%= option.displayfull %></li>
<% checked = false %>
<% end -%>
</ul>
<% end -%>

<% if @merch.available? %>
<% if @merch.available_to != nil %>
Available until: <%= render_time(@merch.available_to) %><br/>
<% end %>
<% if current_user != nil -%>
<%= submit_tag "add to cart" -%>
<% end -%>
<%- elsif @store_user != nil %>
Warning: Item is currently unavailable to normal users<br/>
<%= submit_tag "add to cart" %>
<%- else %>
This item is not available!
<% end %>
<% end -%>

<%= render :partial => "cart" %>