<% content_for :title do %>Doom-Store&trade; - Purchase<% end %>
<div class="title">Purchase</div>
<%= render partial: "header" %>
<%= render :partial => "cart" %>
<br/>

<%= form_tag(:action => :purchase, :confirm => true) do |f| %>
<%- if @store_user != nil %>
Purchase With: <%= select("purchase", "payment_type_id", PaymentType.all.collect {|item| [item.form_display, item.id]}, :include_blank => true) %><br/>
Send Email: <%= check_box_tag("send_email", "true", true) %><br/>
<%- else %>
Purchase With: <%= select("purchase", "payment_type_id", PaymentType.onlineTypes.all.collect {|item| [item.form_display, item.id]}, :include_blank => true) %><br/>
<%- end %>
<%= submit_tag "Order" %>
<% end -%>