<div class="title"><%= @ticket.set.name %> Ticket</div>
<p class="olive"><%= @ticket.name %> - <%= render_money(@ticket.price) %></p>
<%= render partial: "header" %>
<%- if @ticket.available? %>
	<%- if @ticket.available_to != nil %>
		Available until: <%= render_time(@ticket.available_to) %><br/>
	<%- end %>
	<%- if (current_user != nil and current_user.member_detail) != nil or (@store_user != nil and @store_user.member_detail != nil) or !@ticket.requires_extended_details -%>
		<%= button_to "add to cart", :action => "ticket_add", :id => @ticket.id %>
	<%- elsif current_user != nil and current_user.member_detail == nil and @store_user == nil -%>
		Please fill out your <%= link_to("member details", edit_my_member_details_path) %> before buying a ticket
	<%- elsif @store_user != nil and @store_user.member_detail != nil %>
		Please fill out the <%= link_to("member details", new_member_detail_path(user_id: @store_user.id)) %> for <%= @store_user.name %> before buying a ticket on their behalf
	<%- end %>
<%- elsif current_user.full_store_visible? %>
Warning: Item is currently unavailable to normal users<br/>
<%= button_to "add to cart", :action => "ticket_add", :id => @ticket.id %>
<%- else %>
This item is not available!
<%- end %>

<%= render :partial => "cart" %>