!!! 5
!!!
%html
  %head
    = stylesheet_link_tag "2015-print", :media => "print"
    = stylesheet_link_tag "2015"
    = javascript_include_tag "2015.js"
    %meta{http_equiv: "Content-Type", content:"text/html; charset=UTF-8"}
    %title= @title
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{charset: "utf-8"}
    %meta{name: "description", content: "Come and join us as WA's premier literary speculative fiction convention celebrates it's 40th anniversary."}    
    %meta{name: "keywords", content: "swancon 2015 perth wa convention conventions club clubs meetup meetups expos science fiction fantasy speculative con scene australia"}
    %meta{property: "og:site_name", content: "Swancon"}
    %meta{property: "og:image", content: image_url("ruby-facebook.png", only_path: false)}
    %meta{property: "article:publisher", content: "https://www.facebook.com/Swancon"}
    = csrf_meta_tag
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = yield :header

  %body
    - if Rails.env == "staging"
      %div#staging You are on the Staging site. None of your changes will be reflected on the real site.
    - if show_buy_ticket_widget?
      %aside#ticketdrop
        = link_to store_path(category: "convention tickets") do
          = image_tag("arrow.png", alt: "Get your ticket now")
          %p STORE

    %div#container
      %header
        = link_to root_url do 
          = image_tag("logo-horizontal.png", alt: "Swancon's 40th Anniversary", title: "Swancon 2015")
        = render partial: "layouts/login"

      - flash.each do |name, msg|
        %div{class: "error"}=msg

      - if can_show_content
        - if controller_name == "index" and action_name == "index"
          = yield
        - else
          %section{class: "content"}
            %article
              = yield

      - else
        %section 
          %article{class: "centered"}
            %h1
              Swancon 40 is currently in stealth mode
            %h1
              All will be revealed
              = render_clock
      
     
      %section{class:"dark"}
        %footer
          %div{class: "right"}
            %div
              Swancon&trade; is a 
              = link_to "WASFF", "http://wasff.sf.org.au"
              project
            %div
              The Swancon 40 website and graphic design was provided by
              = link_to "Skylark Creative", "http://skylarkcreative.net"
          %div
            If you encounter any errors with the website, please report them 
            = link_to "here", "http://goo.gl/forms/QhE9pCOaq6"
