%footer#footer
  .container
    .contact
      %h2 Contact Us
      %dl
        %dt Convenor:
        %dd Izzy
        %dt Secretary:
        %dd= link_to "Evan", "mailto:secretary-2016@swancon.com.au"
        %dt Treasurer:
        %dd Jack
        %dt Programmer:
        %dd= link_to "Frames", "mailto:programmer-2016@swancon.com.au"      
        %dt Gaming:
        %dd Adrian
      %p
        %strong Contact email:
        %br= link_to "secretary-2016@swancon.com.au", "mailto:secretary-2016@swancon.com.au"
    .site-map
      %h2 Site Map
      %nav
        %ul
          - menu_items.each do |item|
            %li
              = link_to item[:name].upcase, item[:path]
          %li
            = link_to "Login", "#"
          %li
            = link_to "Sign up", "#"   
      .store
        =link_to "Buy Memberships!", store_path, class: "btn btn-primary"
      .social
        = link_to "https://www.facebook.com/groups/5668237047/" do 
          = image_tag("facebooklogo.svg", alt: "Swancon on Facebook", width: 96)
        = link_to "https://twitter.com/Swancon" do
          = image_tag("twitterlogo.svg", alt: "Swancon on Twitter", width: 96)
  .container.end-note
    Swancon&trade; is a 
    = link_to "WASFF", "http://wasff.sf.org.au"
    project
    %div
      The Swancon 41 website is based upon the Swancon 40 design by 
      = link_to "Julia Alison", "http://julia-alison.com"
    %div
      If you encounter any errors with the website, please report them 
      = link_to "here", "http://goo.gl/forms/QhE9pCOaq6"
