%footer#footer
  .containerfoot
    .contact
      %center
        %h2 Contact Us
        %table
          %tbody
            %tr
              %td
                %dl
                  %dt Convenors:
                  %dd= link_to "Chris and Brian", "mailto:convenor-2017@swancon.com.au"
                  %dt Secretary:
                  %dd= link_to "Secretary", "mailto:secretary-2017@swancon.com.au"
                  %dt Treasurer:
                  %dd= link_to "Kim", "mailto:treasurer-2017@swancon.com.au"
              %td
                %dl
                  %dt
                    %strong Contact email:
                  %dd
                    = link_to "secretary-2017@swancon.com.au", "mailto:secretary-2017@swancon.com.au"
                  %dt Programmer:
                  %dd= link_to "Michael", "mailto:programmer-2017@swancon.com.au"      
                  -#%dt Gaming:
                  -#%dd Michael
              %td
                .social
                  = link_to "https://www.facebook.com/groups/5668237047/" do 
                    = image_tag("facebooklogo.svg", alt: "Swancon on Facebook", width: 96)
                  = link_to "https://twitter.com/Swancon" do
                    = image_tag("twitterlogo.svg", alt: "Swancon on Twitter", width: 96)
    -#.site-map
      %h2 Site Map
      %nav
        %ul
          - if can_show_content
            - menu_items.each do |item|
              %li
                = link_to item[:name].upcase, item[:path]
          %li
            = link_to "Login", "#"
          %li
            = link_to "Sign up", "#"   
      - if can_show_content
        .store
          =link_to "Buy Memberships!", store_path, class: "btn btn-primary"
      .social
        = link_to "https://www.facebook.com/groups/5668237047/" do 
          = image_tag("facebooklogo.svg", alt: "Swancon on Facebook")
        = link_to "https://twitter.com/Swancon" do
          = image_tag("twitterlogo.svg", alt: "Swancon on Twitter")
  .container.end-note
    Swancon&trade; is a 
    = link_to "WASFF", "http://wasff.sf.org.au"
    project
    %div
      The Swancon 42 website is based upon the Swancon 40 design by 
      = link_to "Julia Alison", "http://julia-alison.com"
    %div
      If you encounter any errors with the website, please report them 
      = link_to "here", "http://goo.gl/forms/QhE9pCOaq6"
