%header#header
  .logo
    = link_to root_url do 
      = image_tag("swancon-logo.png", alt: "Swancon's 40th Anniversary", title: "Swancon 2015", width: "197", height: "39")
  %nav
    %ul
      - menu_items.each do |item|
        %li
          = link_to item[:name].upcase, item[:path]
      %li
        = link_to "Login", new_user_session_path
      %li
        = link_to "Sign up", new_user_registration_path
