%header#header
  .container
    %h1 Swancon 2017
    .logo1d
      = link_to root_url do
        = image_tag("Swancon42DisasterArea.png", alt: "Swancon 42 Launch", title: "Swancon 42 Launch", class: "logo1i")
    .logo2d
      = link_to root_url do
        = image_tag("Swancon42Marvin.png", alt: "Progress", title: "Swancon 42 Progress", class: "logo2i")
    .logo3d
      = link_to root_url do
        = image_tag("Swancon42HeaderLogo.png", alt: "Swancon 42", title: "Swancon 42", class: "logo3i")
    %nav{ role: "navigation" }
      - if can_show_content
        %ul.main-nav
          %li
            = link_to "Buy memberships", store_path
          - menu_items.each do |item|
            %li
              = link_to item[:name].upcase, item[:path]

      - if user_signed_in?
        .user-actions
          %h2 User navigation
          = link_to current_user.name, "#",  class: "dropdown"
          %ul
            -if user_signed_in? && current_user.admin_panel_visible?
              %li
                = link_to "Dashboard", admin_path
            -elsif user_signed_in? && RoutePolicy.new(current_user).visit?(:index, :adminapp)
              %li
                = link_to "Cashier Dashboard", adminapp_path
            %li
              = link_to "Edit Account", edit_user_registration_path
            %li
              = link_to "Membership Details", edit_my_member_details_path
            %li
              =link_to "My Memberships", tickets_my_path
            %li
              =link_to "My Purchases", orders_path
            %li
              = link_to "Log out", destroy_user_session_path
      - else
        %ul.main-nav
          %li
            = link_to "Login", new_user_session_path
          %li
            = link_to "Sign up", new_user_registration_path
