- unless user_signed_in?
  = form_for(:user, url: session_path(:user), html: {id: :login_widget}) do |f|
    %div
      %label{for:"username"} Login
      = f.text_field "username", {id: "username"}
    %div
      %label{for:"password"} Password
      = f.password_field "password", {id: "password"}
    %div
      = button_to "Register", new_user_registration_path
- else
  %div{id: "logged_in_widget"}
    Welcome, 
    %span= current_user.display_name
    %div=link_to "My Details", edit_user_registration_path
    %div=link_to "My Tickets", tickets_my_path
    = link_to "Log Out", destroy_user_session_path
