<!DOCTYPE html>
<html>
<head>
  <title>DoomCon</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="rightpanel">
<% if user_signed_in? %>
  Welcome <%= current_user.username %><br/>
  <%= link_to("Profile", edit_user_registration_path) %><br/>

  <% permitted_to? :index, :users do -%>
  <%= link_to("Administer Users", users_path) %><br/>
  <% end %>
  
  <% permitted_to? :index, :content_admin do %>
  <%= link_to("Administer Content", :controller => :index, :action => :content_admin) %>
  <% end %>

  <%= link_to("Log out", destroy_user_session_path) %>
<% else %>
  <%= link_to("Log in", new_user_session_path) %><br/>
  <%= link_to("Sign Up", new_user_registration_path) %>
<% end %>
</div>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
