<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
	<title>Swancon 2013</title>
	<link rel="shortcut icon" href="<%= image_path "favicon.png" %>" />
	<link rel="apple-touch-icon-precomposed" href="<%= image_path "mobileicon57.png" %>" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= image_path "mobileicon72.png" %>"/>
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= image_path "mobileicon114.png" %>"/>
		<%= stylesheet_link_tag "reset" %>
		<%= stylesheet_link_tag "sc2013-new" %>
	<%# stylesheet_link_tag "main-ipad", :media => "only screen and (max-device-width: 1024px)"%>
	<%= stylesheet_link_tag "main-print", :media => "print" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tag %>
	<%= yield :header %>
<!--	<script type="text/javascript" src="https://use.typekit.net/auy3sfh.js"></script> -->
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<% show_promoted_panel = (Settings.promoted_items_tag_id != nil and current_page?(root_url)) -%>
	<div id="centre_column">  <!-- centre_column -->
		<%= image_tag "logo.png", class: "logo" %>
		<div id="nav" class="noprint">
			<ul>
				<% if user_signed_in? %>
					<li class="title">Profile</li>
					<li><%= link_to("Profile", edit_user_registration_path) %></li>
					<li><%= link_to("Membership Details", edit_my_member_details_path) %></li>
					<li><%= link_to "Orders", orders_path %></li>
					<li><%= link_to("Log out", destroy_user_session_path) %></li>
				<% else %>
					<li class="title">Register</li>
					<li><%= link_to("Log in", new_user_session_path) %></li>
					<li><%= link_to("Register", new_user_registration_path) %></li>
				<% end %>
			</ul>
<%#			<ul>
				<li class="title">News<li>
			</ul> #%>
			<ul>
				<li class="title">Sections</li>
              <li><a href="/">Home</a></li>
				<% ContentPage.topbar.all.each do |page| %>
                  <%if page.name!='home' %>
					<li><%= link_to :controller=>"/content_viewer", :action => "page", :id => page.name do%>
					<%- page.name.split(" ").each do |word| %><%= word.capitalize %> <% end %>
					<% end %></li>
                  <% end %>
				<% end %>
				<% if permitted_to? :sales, :seller %>
				<li><a href="/seller/sales">Sales</a></li>
				<% end %>
				<li><a href="/store">Store</a></li>
			</ul>
			<% permitted_to? :index, :content_files do %>
				<ul>
					<li class="title">Content Admin</li>
					<li><%= link_to "Content Pages", content_pages_path if permitted_to? :index, :content_pages  %></li>
					<li><%= link_to "Content Blocks", content_blocks_path if permitted_to? :index, :content_blocks  %></li>
					<li><%= link_to "Content Tags", content_tags_path if permitted_to? :index, :content_tags  %></li>
					<li><%= link_to "Content Images", content_images_path if permitted_to? :index, :content_images  %></li>
					<li><%= link_to "Content Files", content_files_path if permitted_to? :index, :content_files %></li>
				</ul>
			<% end %>
			<% if current_user != nil and (current_user.role_symbols.include?(:committee) or current_user.role_symbols.include?(:admin)) -%>
			<ul>
				<li class="title">Admin</li>
				<% permitted_to? :index, :users do -%>
					<li><%= link_to("User Administration", users_admin_index_path) %></li>
				<% end %>
				<% permitted_to? :index, :member_details do -%>
					<li><%= link_to("List all Membership Details", member_details_path) %></li>
				<% end %>
				<% permitted_to? :index, :tickets do -%>
					<li><%= link_to "All Tickets", tickets_all_path %></li>
				<% end -%>
				<% permitted_to? :edit, :merchandise_sets do -%>
				<li><%= link_to("Manage Merchandise Sets", merchandise_sets_path)%></li>
				<% end %>
				<% permitted_to? :edit, :merchandise_types do -%>
				<li><%= link_to("Manage Merchandise", merchandise_types_path)%></li>
				<% end %>
				<% permitted_to? :edit, :ticket_sets do -%>
				<li><%= link_to("Manage Ticket Sets", ticket_sets_path)%></li>
				<% end %>
				<% permitted_to? :edit, :ticket_types do -%>
				<li><%= link_to("Manage Tickets", ticket_types_path)%></li>
				<% end %>
				<% permitted_to? :index, :vendors do -%>
				<li><%= link_to("Show Vendors", vendors_path) %></li>
				<% end %>
				<% permitted_to? :index, :vendor_orders do -%>
				<li><%= link_to("Show Vendor Orders", vendor_orders_path) %></li>
				<% end %>
				<% permitted_to? :index, :payments do -%>
				<li><%= link_to("Show Payments", payments_path) %></li>
				<% end %>
				<li><%= link_to("Show All Orders", orders_path(:all => true)) %></li>
				<% permitted_to? :index, :promoted_items do -%>
				<li><%= link_to("Promoted Items Panel", controller: :promoted_items, action: :index) %></li>
				<% end %>
				<% permitted_to? :index, :awards do -%>
				<li><%= link_to("Awards Administration", awards_path) %></li>
				<% end %>
			</ul>
			<% end %>
		</div>
		<% if show_promoted_panel %>
			<div id="main_content_small">
		<% else %>
			<div id="main_content">
		<% end %>
			<div class="mbox">
	          <div id="social" style="float:right">
	            <%= link_to(image_tag("sn-facebook.png",    height: 32, width: 32, :alt =>"Facebook"   ), "https://www.facebook.com/Swancon") %>
	            <%= link_to(image_tag("sn-twitterb.png",     height: 32, width: 32, :alt =>"Twitter"    ), "https://twitter.com/#!/swancon") %>
	            <%= link_to(image_tag("sn-tumblr.png",      height: 32, width: 32, :alt =>"Tumblr"     ), "http://swancon.tumblr.com/") %>
	            <%= link_to(image_tag("sn-livejournal.png", height: 32, width: 32, :alt =>"Livejournal"), "http://swancon.livejournal.com/") %>
	            <%= link_to(image_tag("sn-email.png",       height: 32, width: 32, :alt =>"Email"      ), "mailto:convenor-2013@swancon.com.au?subject=Website%20enquiry") %>
	          </div>
				<div>
	              <%if notice!=nil %><p class="notice"><%= notice %></p><% end %>
	              <%if alert!=nil %><p class="alert"><%= alert %></p><% end%>
					<%= yield %>
				</div>
				<div style="clear:both;">
				</div>
			</div>
		</div>
		<% if show_promoted_panel %>
			<% tag = ContentTag.where(id: Settings.promoted_items_tag_id).first -%>
			<% if tag != nil %>
				<% if tag.blocks.count > 0 %>
				<div id="nav">
					<div class="center"></div>
					<ul id="whatsnew">
						<li class="title">What's New?</class>
						<% tag.blocks.each do |block| -%>
							<% if block == tag.blocks.first -%>
								<li class="item-first">
									<%= link_to block.summary, controller: :content_viewer, action: :content, id: block.id %>
								</li>
							<% else -%>							
								<li class="item">
									<%= link_to block.summary, controller: :content_viewer, action: :content, id: block.id %>
								</li>
							<% end -%>
						<% end %>
					</ul>
				</div>
				<% end -%>
			<% end -%>
		<% end -%>

	</div>  <!-- centre_column -->

</body>
</html>
